<?xml version="1.0" ?>
<launch>
  <node pkg="joy" name="joy" type="joy_node" output="screen"/>
  <node pkg="teleop_twist_joy" name="teleop_node" type="teleop_node" output="screen" />
  <rosparam file="$(find oskar_driver)/config/oskar_params.yaml" subst_value="true" command="load" />
  <node pkg="oskar_driver" name="oskar_driver_node" type="ahhaa_oskar_driver_node" output="screen" />
</launch>
