<?xml version="1.0" ?>
<launch>
  <param name="robot_description" textfile="$(find oskar_driver)/urdf/oskar.urdf"/>
  <arg name="gui" default="True" />

  <node pkg="joy" name="joy" type="joy_node" output="screen"/>
  <node pkg="teleop_twist_joy" name="teleop_node" type="teleop_node" output="screen" />
  <node pkg="oskar_driver" name="oskar_driver_node" type="ahhaa_oskar_driver_node" output="screen" />

    <arg name="rvizconfig" default="$(find oskar_driver)/display.rviz" />
  <!--param name="use_gui" value="$(arg gui)"/-->
  <node name="" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
