<?xml version="1.0" ?>
<launch>
  <param name="robot_description" textfile="$(find oskar_driver)/urdf/oskar.urdf"/>
  <arg name="gui" default="True" />

  <node pkg="joy" name="joy" type="joy_node" output="screen"/>

  <node pkg="teleop_twist_joy" name="teleop_node" type="teleop_node" output="screen">
    <param name="scale_linear" value="0.1" />
    <param name="scale_angular" value="0.1" />
  </node>

  <rosparam file="$(find oskar_driver)/config/oskar_params.yaml" subst_value="true" command="load" />
  <node pkg="oskar_driver" name="oskar_driver_node" type="ahhaa_oskar_driver_node" output="screen" />

    <arg name="rvizconfig" default="$(find oskar_driver)/display.rviz" />
  <!--param name="use_gui" value="$(arg gui)"/-->
  <node name="" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

      <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="enable_pointcloud"        value="true"/>
                        <arg name="tf_prefix"        value="camera"/>

      </include> 
  <node pkg="tf" type="static_transform_publisher" name="front_camera" args="0.3 0 0.15 0 0 0 1 base_link camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="front_cameram" args="0.3 0 0.15 0 0 0 1 base_link mynteye_link 100" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
